@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Noto Sans,sans-serif;
  text-decoration: none;
  overflow-x: hidden;
}

:root {
  --primary-clr-: rgba(15, 38, 23, 1);
  --black-clr-: rgb(12, 14, 10);
  --white-clr-: rgb(227, 239, 215);
}

body {
  overflow-x: hidden;
  background-color: var(--primary-clr-);
}

h1,
h2,
h3 {
  font-family: Bacasime Antique,serif;

}

header {
  background-image: url(images/pexels-chanwalrus-941861.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2em;
  margin-bottom: 16px;

}

nav>a {
  color: var(--white-clr-);
  font-size: 1rem;
  rotate: 0;
  transition: color .2s ease-in-out;

}

nav>a:hover {
  color: var(--primary-clr-);


}

header p {
  text-align: center;
  font-size: 8rem;
  color: var(--white-clr-);
  font-family: Bacasime Antique, serif;
  padding-top: 1em;
  font-weight: lighter;
}

#about {
  padding-left: 3em;
  width: 80ch;

  margin-top: 80px;
  color: var(--white-clr-);
  font-weight: lighter;

}

#menu {
  margin-top: 112px;
}

.category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  align-items: end;
  margin-bottom: 2em;
  background-color: var(--primary-clr-);

}

.menu-image img {
  max-width: 607px;
  max-height: 404px;
  object-fit: contain;
  width: 100%;
  background-repeat: no-repeat;

}

.menu-content {
  padding-right: 2em;
}

.menu-heading {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding-bottom: 1em;
  border-bottom: 2px solid var(--black-clr-);

}

.menu-heading>h1 {
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 0.5rem;

}

.menu-heading img {
  max-width: 24px;
  max-height: 24px;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.menu-heading img:hover {
  opacity: 1;
}

.paragraph {
  padding-top: 1rem;
  color: var(--white-clr-);

}

/* gallery */
#gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 112px;
  column-gap: 2em;
  
}

#gallery img {
  max-width: 431px;
  max-height: 646px;
  object-fit: contain;
  width: 100%;
  background-repeat: no-repeat;
  scale: 1;
  overflow-y: hidden;
  filter: saturate(0);
  transition: scale .1s ease-in-out, filter .1s ease-in-out;
}

#gallery img:hover {
  scale: 0.9;
  filter: saturate(1);
}

/* footer */
footer {
  margin-top: 112px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  justify-content: center;
  border-top: 2px solid var(--black-clr-);
  border-bottom: 2px solid var(--black-clr-);
   overflow-y: hidden;

  /* border-right-width: 1px solid var(--black-clr-); */
}

.columns div {
  border-right: 2px solid var(--black-clr-);
  height: 100%;
  padding-left: 2em;
  padding-top: 2em;
}

.columns p {
  padding-top: 0.5rem;
}

.footer-notes {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 2px solid var(--black-clr-);
}

.footer-h1 {
  font-weight: lighter;
  font-size: 10rem;
  text-align: center;
  letter-spacing: 1rem;
}
footer a{
  color: black;
  font-weight: 300;
 
}

/* responsive */
@media (width<600px) {
  header p {
    font-size: 6rem;
    padding-top: 1em;
  }

  #about {
    width: 100%;
    padding-left: 1em;
  }

  .category {
    display: grid;
    grid-template-columns: 1fr;

  }

  .menu-heading {
    justify-content: left;
  }

  .menu-content {
    padding-left: 1em;
  }
#gallery{
  display: flex;
  align-items: center;
  justify-content: center;
}
  #gallery img {
    width: 100%;
    margin-top: 40px;
  }

  .footer-h1{
    font-size: 6rem;
  }
  .footer-notes{
    font-size: 0.9rem;
    padding-right: 0.05rem;
  }
}
@media(width<900px){
  header p{
    font-size: 6rem;
  }
  #about{
    width: 100%;
  }
   .footer-h1{
    font-size: 6rem;
  }
  .columns div{
    padding-left: 1em;
  }
}
@media (width<700px){
  
  
  .columns {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: none;
   
  }

  .columns div {
    border-bottom: 2px solid var(--black-clr-);
  }
}