@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Noto Sans;
  text-decoration: none;
  overflow-x: hidden;
}

:root {
  --primary-clr-: rgba(15, 38, 23, 1);
  --black-clr-: rgb(12, 14, 10);
  --white-clr-: rgb(227, 239, 215);
}
body{
  overflow-x: hidden;
  background-color: var(--primary-clr-);
}
h1,
h2,
h3 {
  font-family: Bacasime Antique;
  
}

header {
  background-image: url(images/pexels-chanwalrus-941861.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2em;
  margin-bottom: 16px;
  
}
nav>a{
color: var(--white-clr-);
font-size: 1rem;
rotate: 0;
transition: color .2s ease-in-out;

}
nav>a:hover{
  color: var(--primary-clr-);
  

}
header p{
  text-align: center;
  font-size: 8rem;
  color: var(--white-clr-);
  font-family:Bacasime Antique ;
  padding-top: 1.5em;
  font-weight: lighter;
}
#about{
  padding-left: 3em;
  width: 80ch;
  margin-top: 80px;
  color: var(--white-clr-);
  font-weight: lighter;
  
}
#menu{
  margin-top: 112px;
}
.category{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  align-items: end;
  margin-bottom: 2em;
  
}
.menu-image>image{

 object-fit: contain;
 background-repeat: no-repeat;
 
}
.menu-content{
  padding-right: 2em;
}
.menu-heading{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding-bottom:1em;
  border-bottom: 2px solid var(--black-clr-);
  
}
.menu-heading>h1{
font-size: 3rem;
font-weight: lighter;
letter-spacing: 0.5rem;

}
.menu-heading>img{
  opacity: 0;
  transition: opacity .2s ease-in-out;
}
.menu-heading>img:hover{
  opacity: 1;
}
.paragraph{
  padding-top: 1rem;
  color: var(--white-clr-);

}
/* gallery */
#gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 112px;
  column-gap: 2em;
}
#gallery img{
  max-width:431px ;
  max-height:646px ;
  object-fit: contain;
  background-repeat: no-repeat;
  scale: 1;
  overflow-y: hidden;
  filter: saturate(0);
  transition: scale .1s ease-in-out , filter .1s ease-in-out ;
  
}
#gallery img:hover{
scale: 0.9;
filter: saturate(1);
}
/* footer */
footer{
  margin-top: 112px;
}
.columns{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: start;
  justify-content:center ;
  border-top: 2px solid var(--black-clr-);
  border-bottom: 2px solid var(--black-clr-);
  
/* border-right-width: 1px solid var(--black-clr-); */
}
.columns div{
border-right: 2px solid var(--black-clr-);
height: 100%;
padding-left: 2em;
padding-top: 2em;
}
.columns p{
  padding-top: 0.5rem;
}
.footer-notes{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 2px solid var(--black-clr-);
}
.footer-h1{
  font-weight: lighter;
  font-size: 10rem;
  text-align: center;
  letter-spacing: 1rem;
}